{% extends './base.html' %}

{% block title %}Register{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth_register.css') }}">
{% endblock %}
{% block body %}

<!-- Form Register -->
<div class="container text-center">
  <main class="text-center form-signin w-100 m-auto">
    <form
    id="formAuthentication"
    class="mb-3"
    action=""
    method="POST"
    autocomplete="off">
      <img class="" src="{{ url_for('static', filename ='img/logo.png') }}" alt="" width="140" height="140">
      <h1 class="h3 mb-4 fw-normal">Registrarse</h1>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <br />
      {% for message in messages %}
      <div class="alert" id="alert" class="custom-alert">
          <strong>{{ message }}</strong>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <!-- Identity Card -->
      <div class="form-floating mb-2">
        <input type="text" name="dni" class="form-control" id="dni" placeholder="text" required>
        <label for="floatingPassword">Credencial personal</label>
        <div class="invalid-feedback">
          Este es un campo obligatorio.
        </div>
      </div>
      <!-- Email address -->
      <div class="form-floating mb-2">
        <input type="email" name="email_user" class="form-control" id="email" placeholder="name@example.com" required>
        <label class="form-floating" for="floatingInput">Correo gmail</label>
        <div class="invalid-feedback">
          Este es un campo obligatorio.
        </div>
      </div>     
      <!-- Password -->
      <div class="form-floating mb-2">
        <input type="password" name="pass_user" class="form-control" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Contraseña</label>
        <div class="invalid-feedback">
          Este es un campo obligatorio.
        </div>
      </div>
      <!-- Confirm your password -->
      <div class="form-floating mb-2">
        <input type="password" name="con_pass_user" class="form-control" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Confirmar su contraseña</label>
        <div class="invalid-feedback">
          Este es un campo obligatorio.
        </div>
      </div>
      <!-- Button -->
      <button class="btn btn-primary w-100 py-2" type="submit">Crear la cuenta</button>
      <p class="mt-5 mb-3 text-body-secondary">&copy; 2024</p>
    </form>
  </main>
</div>

<!-- Interactivity for CheckBox -->
<script>
  const checkbox = document.getElementById("flexCheckDefault");
  checkbox.addEventListener("change", function() {
    if (this.checked) {
      window.open("https://example.com/terms-of-service", "_blank"); // Reemplazar con la URL deseada
    }
  });
</script>

<!-- Interactivity for Flash Messages -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Muestra el mensaje y lo oculta después de 3 segundos
    var customAlert = document.getElementById('alert');
    customAlert.style.display = 'block'; // Muestra el mensaje
    setTimeout(function() {
      customAlert.style.display = 'none'; // Oculta el mensaje después de 3 segundos
    }, 1500);
  });
</script>
{% endblock %}